openapi: 3.0.2
info:
  version: '1.0.0'
  title: 'Dane Food API'
  description: 'Specification for the Dane Food API'
  termsOfService: 'http://example.com/terms/'
  contact:
    name: 'Shane Woods'
    url: 'http://example.com'
    email: 'shane@example.com'
  license:
    name: 'Apache 2.0'
    url: 'https://www.apache.org/licenses/LICENSE-2.0.html'
servers:
  - url: 'https://development.gigantic-server.com'
    description: 'Development server'
  - url: 'https://staging.gigantic-server.com'
    description: 'Staging server'
  - url: 'https://api.gigantic-server.com'
    description: 'Production server'
paths:
  /v1/customers:
    get:
      summary: 'List Customers'
      description: 'Get a list of customers in the system.'
      tags:
        - 'Customers'
      operationId: 'listCustomersV1'
      parameters:
        - $ref: '#/components/parameters/pageNumberParam'
        - $ref: '#/components/parameters/pageSizeParam'
      responses:
        '200':
          description: 'List of Customers.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerList'
      security: []
    post:
      summary: 'New Customer'
      description: 'Create a new customer.'
      tags:
        - 'Customers'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer'
      responses:
        '201':
          description: 'Customer Created.'
          headers:
            Location:
              description: 'Location of the created customer.'
              schema:
                type: 'string'
                format: 'uri'
                example: 'http://example.com/v1/customers/{assignedIDValue}'
        '400':
          description: 'Bad Request.'
        '409':
          description: 'Conflict.'
  /v1/customers/{customerId}:
    get:
      summary: 'Get Customer By ID'
      description: 'Get a single Customer by its ID value.'
      tags:
        - 'Customers'
      operationId: 'getCustomerByIdV1'
      parameters:
        - $ref: '#/components/parameters/CustomerIdPathParam'
      responses:
        '200':
          description: 'Found customer.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '404':
          description: 'Not found.'
      security: []
    put:
      summary: 'Update Customer'
      description: 'Update customer by id.'
      tags:
        - 'Customers'
      operationId: 'updateCustomerByIdV1'
      parameters:
        - $ref: '#/components/parameters/CustomerIdPathParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer'
      responses:
        '200':
          description: 'Customer Updated.'
        '400':
          description: 'Bad request.'
        '409':
          description: 'Conflict.'
    delete:
      summary: 'Delete Customer By ID'
      description: 'Delete a single Customer by its ID value.'
      tags:
        - 'Customers'
      operationId: 'deleteCustomerByIdV1'
      parameters:
        - $ref: '#/components/parameters/CustomerIdPathParam'
      responses:
        '200':
          description: 'Customer Deleted.'
        '404':
          description: 'Not found.'
  /v1/customers/{customerId}/orders:
    post:
      summary: 'Place Order'
      tags:
        - 'Order Service'
      description: 'Place a new order for a customer.'
      parameters:
        - $ref: '#/components/parameters/CustomerIdPathParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/foodOrder'
        required: false
      responses:
        '201':
          description: 'Order Created'
          headers:
            Location:
              description: 'Reference to created Order.'
              style: 'simple'
              explode: false
              schema:
                type: 'string'
                format: 'uri'
        '400':
          description: 'Bad Request.'
        '404':
          description: 'Not Found.'
        '409':
          description: 'Conflict.'
      callbacks:
        orderStatusChange:
          '{$request.body#/orderStatusCallbackUrl}':
            description: 'Webhook for order status change notifications'
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      type: 'object'
                      properties:
                        orderId:
                          type: 'string'
                          format: 'uuid'
                        orderStatus:
                          type: 'string'
              responses:
                '200':
                  description: 'Okay.'
  /v1/foods:
    get:
      summary: 'List Foods.'
      description: 'List all foods in the database.'
      tags:
        - 'Foods'
      operationId: 'listFoodsV1'
      parameters:
        - $ref: '#/components/parameters/pageNumberParam'
        - $ref: '#/components/parameters/pageSizeParam'
      responses:
        '200':
          description: 'List of Dane Foods.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FoodPagedList'
        '404':
          description: 'No Dane Food found.'
    post:
      summary: 'New Food'
      description: 'Create a new food object.'
      tags:
        - 'Foods'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Brand'
      responses:
        '201':
          description: 'Food Created.'
          headers:
            Location:
              description: 'Food object created.'
              schema:
                type: 'string'
                format: 'uri'
                example: 'http://example.com/v1/foods/{assignedIDValue}'
        '400':
          description: 'Bad Request.'
        '409':
          description: 'Conflict.'
  /v1/foods/{foodId}:
    get:
      summary: 'Get Foods by ID.'
      description: 'Get a single food brand by its Id value.'
      tags:
        - 'Foods'
      operationId: 'getFoodByIdV1'
      parameters:
        - $ref: '#/components/parameters/FoodIdPathParam'
      responses:
        '200':
          description: 'Found food by Id.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Brand'
        '404':
          description: 'Not found.'
    put:
      summary: 'Update Food by ID'
      description: 'Update Food by its ID value.'
      tags:
        - 'Foods'
      operationId: 'updateFoodByIdV1'
      parameters:
        - $ref: '#/components/parameters/FoodIdPathParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Brand'
      responses:
        '204':
          description: 'Food Updated.'
        '400':
          description: 'Bad request.'
        '404':
          description: 'Not found.'
        '409':
          description: 'Conflict.'
    delete:
      summary: 'Delete Food By ID'
      description: 'Delete a food by its Id value.'
      tags:
        - 'Foods'
      operationId: 'deleteFoodByIdV1'
      parameters:
        - $ref: '#/components/parameters/FoodIdPathParam'
      responses:
        '200':
          description: 'Food Resource Deleted.'
        '404':
          description: 'Not found.'
security:
  - BasicAuth: []
  - JwtAuthToken: []
components:
  securitySchemes:
    BasicAuth:
      type: 'http'
      scheme: 'basic'
    JwtAuthToken:
      type: 'http'
      scheme: 'bearer'
      bearerFormat: 'JWT'
  parameters:
    pageNumberParam:
      name: 'pageNumber'
      in: 'query'
      description: 'Page Number.'
      required: false
      schema:
        type: 'integer'
        format: 'int32'
        default: 1
    pageSizeParam:
      name: 'pageSize'
      in: 'query'
      description: 'Page Size.'
      required: false
      schema:
        type: 'integer'
        format: 'int32'
        default: 25
    CustomerIdPathParam:
      name: 'customerId'
      in: 'path'
      description: 'Customer Id.'
      required: true
      schema:
        type: 'string'
        format: 'uuid'
    FoodIdPathParam:
      name: 'foodId'
      in: 'path'
      description: 'Food Id.'
      required: true
      schema:
        type: 'string'
        format: 'uuid'

  schemas:
    Address:
      type: 'object'
      properties:
        addressLine1:
          type: 'string'
          example: '1234 Fun Street'
        city:
          type: 'string'
          example: 'Dallas'
        stateCode:
          type: 'string'
          minLength: 2
          maxLength: 2
          description: '2-Letter State Code.'
          enum:
            - 'AL'
            - 'AK'
            - 'AZ'
            - 'AR'
            - 'CA'
        zipCode:
          type: 'string'
          example: '75219'
    Customer:
      type: 'object'
      description: 'Contains customer address details.'
      properties:
        id:
          type: 'string'
          format: 'uuid'
          readOnly: true
        firstName:
          type: 'string'
          minLength: 2
          maxLength: 100
          example: 'John'
        lastName:
          type: 'string'
          minLength: 2
          maxLength: 100
          example: 'Smith'
        address:
          $ref: '#/components/schemas/Address'
    CustomerList:
      type: 'array'
      minItems: 1
      maxItems: 100
      description: 'List of Customers.'
      items:
        $ref: '#/components/schemas/Customer'
    DistributionCenter:
      type: 'object'
      description: 'Distribution center location details.'
      properties:
        name:
          type: 'string'
          description: 'Name of the distribution center.'
        location:
          type: 'string'
          description: 'Geographic location of the distribution center.'
    Brand:
      type: 'object'
      description: 'Contains food brand names.'
      properties:
        id:
          type: 'string'
          format: 'uuid'
          readOnly: true
        BrandName:
          type: 'string'
        FoodName:
          type: 'string'
          enum:
            - 'Happy Dog'
            - 'McDoggles'
            - 'Pupper Time'
            - 'NightNight Doggy'
        price:
          type: 'number'
          format: 'float'
        quantityOnHand:
          type: 'integer'
          format: 'int32'
        DistributionCenter:
          $ref: '#/components/schemas/DistributionCenter'
    BrandList:
      type: 'array'
      items:
        $ref: '#/components/schemas/Brand'
    FoodPagedList:
      type: 'object'
      properties:
        content:
          $ref: '#/components/schemas/BrandList'
      allOf:
        - $ref: '#/components/schemas/PagedResponse'
    foodOrder:
      required:
        - 'customerId'
      type: 'object'
      properties:
        id:
          type: 'string'
          format: 'uuid'
          nullable: true
          readOnly: true
        customerId:
          type: 'string'
          format: 'uuid'
        customerRef:
          type: 'string'
          nullable: true
          description: 'Optional reference identifier for the customer.'
        foodOrderLines:
          type: 'array'
          items:
            $ref: '#/components/schemas/foodOrderLine'
        orderStatusCallbackUrl:
          type: 'string'
          format: 'uri'
    foodOrderLine:
      required:
        - 'orderQuantity'
        - 'upc'
      type: 'object'
      properties:
        id:
          type: 'string'
          format: 'uuid'
          nullable: true
          readOnly: true
        foodId:
          type: 'string'
          format: 'uuid'
          readOnly: true
        upc:
          type: 'string'
        orderQuantity:
          maximum: 999
          minimum: 1
          type: 'integer'
        quantityAllocated:
          type: 'integer'
          nullable: true
          readOnly: true
    PagedResponse:
      type: 'object'
      properties:
        pageable:
          $ref: '#/components/schemas/PagedResponse_pageable'
        totalPages:
          type: 'integer'
          format: 'int32'
        last:
          type: 'boolean'
        totalElements:
          type: 'integer'
          format: 'int32'
        size:
          type: 'integer'
          format: 'int32'
        number:
          type: 'integer'
          format: 'int32'
        numberOfElements:
          type: 'integer'
          format: 'int32'
        sort:
          $ref: '#/components/schemas/PagedResponse_pageable_sort'
        first:
          type: 'boolean'
    PagedResponse_pageable_sort:
      type: 'object'
      properties:
        sorted:
          type: 'boolean'
        unsorted:
          type: 'boolean'
    PagedResponse_pageable:
      type: 'object'
      properties:
        sort:
          $ref: '#/components/schemas/PagedResponse_pageable_sort'
        offset:
          type: 'integer'
          format: 'int32'
        pageNumber:
          type: 'integer'
          format: 'int32'
        pageSize:
          type: 'integer'
          format: 'int32'
        paged:
          type: 'boolean'
        unpaged:
          type: 'boolean'
